.question {
  width: 100%;
}

.text-center {
  text-align: center;
}

.question, .number, .operator {
  display: inline-block;
  font-size: 1.8em;
  color: #47504D;
}

.question .body {
  margin-top: 1em;
}

.statement .text {
  margin-top: .5em;
  font-size: 2.2em;
}

.operator {
  width: 10vw;
}


.number .value {
  line-height: 2em;
}

.answers.options {
  width: 50%;
  margin: auto;
  margin-top: 1em;
}

.answer.option {
  display: inline-block;
  margin: .2em;
  width: 30%;
  padding: .75em;
  border-radius: .2em;
  border: 1px solid black;
  box-shadow: 2px 3px #888888;
  user-select: none;
}

.answer.option:hover, .button:hover {
  cursor: pointer;
  background: #E4DDB1;
}

.answer.option:active {
  box-shadow: 0 1px #888888;
  transform: translateY(2px);
}

.thanks {
  font-size: 3.5em;
}

.statistics .results {
  font-size: 1.5em;
  margin-bottom: .5em;
  cursor: pointer;
}

.statistics .stage {
  display: inline-block;
  font-size: 1.8em;
  color: #47504D;
  border: 1px solid #47504D;
  padding: .5em;
  margin: .5em;
}

.statistics .stage .index {
  font-size: 1.5em;
}

.statistics .stage .true {
  color: #68B06A;
}

.statistics .stage .false {
  color: #CC4E70;
}

.button {
  display: block;
  margin: auto;
  width: 20%;
  font-size: 2em;
  padding: .75em;
  border-radius: .2em;
  border: 1px solid black;
  box-shadow: 2px 3px #888888;
  user-select: none;
}

.stage-header {
  padding: .5em;
  font-size: 5em;
}

.stage-header .level {
  font-size: .60em;
  display: inline-block;
  margin-bottom: .55em;
}

#balance-img {
  transform: scale(1.4);
  position: relative;
  top: -15px;
}

.balance-plate {
  display: inline-block;
  width: 50%;
}

.balance-plate.left {
  text-align: right;
}

.balance-plate.right {
  text-align: left;
}

.box {
  padding: .5em;
  background: #cacaca;
  border: 1px solid black;
  border-radius: 10px;
  margin: .2em;
  width: 8%;
  display: inline-block;
}

.balance-plate.left .box:last-of-type {
  margin-right: 2.5em;
}

.balance-plate.right .box:first-of-type {
  margin-left: 2.5em;
}

.balance {
  background-image: "assets/balanca.png";
}

.swal-title, .swal-text {
  font-size: xx-large;
}