.question {
  width: 100%;
}

.question, .number, .operator {
  display: inline-block;
  font-size: 1.8em;
  color: #47504D;
}

.question .body {
  margin-top: 1em;
  text-align: center;
}

.statement .text {
  margin-top: .5em;
  text-align: center;
  font-size: 2.2em;
}

.operator {
  text-align: center;
  width: 10vw;
}

.number {
  text-align: center;
}

.number .value {
  line-height: 2em;
}

.answers.options {
  width: 50%;
  margin: auto;
  margin-top: 1em;
}

.answer.option {
  display: inline-block;
  margin: .2em;
  width: 30%;
  padding: .75em;
  border-radius: .2em;
  border: 1px solid black;
  box-shadow: 2px 3px #888888;
  user-select: none;
}

.answer.option:hover {
  cursor: pointer;
  background: #E4DDB1;
}

.answer.option:active {
  box-shadow: 0 1px #888888;
  transform: translateY(2px);
}

.statistics .results {
  font-size: 3.5em;
}

.statistics {
  text-align: center;
}

.statistics .stage {
  display: inline-block;
  font-size: 1.8em;
  color: #47504D;
  border: 1px solid #47504D;
  padding: .5em;
  margin: .5em;
}

.statistics .stage .index {
  font-size: 1.5em;
}

.statistics .stage .true {
  color: #68B06A;
}

.statistics .stage .false {
  color: #CC4E70;
}